<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	        <link rel="icon" href="./assets/img/Colors.jpg">
		<link rel="stylesheet" type="text/css" href="/assets/css/burger_style.css">
		<script src="https://code.jquery.com/jquery.js"></script>
        <script src="/assets/js/burger1.js"></script>
		<title>Eat Da Burger!</title>
	</head>
	<body class="burgerBack">
		{{{ body }}}
	</body>
</html>