<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="/assets/css/burger_style.css">
		<script src="https://code.jquery.com/jquery.js"></script>
		<title>Eat Da Burger!</title>
	</head>
	<body class="burgerBack">
		{{{ body }}}
	</body>

	<script>
		$(function() {
    $(".change-devoured").on("click", function(event) {
        var id = $(this).data("id");
        var devoured = $(this).data("devoured");

        var newDevoured = {
            devoured: devoured
        };

        $.ajax("/api/burgers/"+id, {
            type: "PUT",
            data: newDevoured
        }).then(function() {
            console.log("Devoured:", devoured);
            location.reload();
        })
    })

    $(".addBurger").on("submit", function(event) {
        event.preventDefault();

        var newBurger = {
            burger_name: $("#burger").val().trim()
        }
    
        $.ajax("/api/burgers", {
            type: "POST",
            data: newBurger
        }).then(function() {
            console.log("Added New Burger");
            location.reload();
        })
    })
})
	</script>
</html>