h1 {
    text-decoration: underline;
    background-color: lightgrey;
    height: 50px;
    margin: 0 0 10px 0;
    padding-top: 10px;
}
h2 {
    text-decoration: underline;
    width: 300px;
    margin: 20px auto 20px auto;
}
span {
    background-color: lightgrey;
    padding: 3px;
}
label {
    background-color: lightgrey;
    padding: 3px;
    font-weight: bold;
}
body {
    text-align: center;
    margin: 50px auto 50px auto;
    margin: 0;
    padding: 0;
}
p {
    font-weight: bold;
}
    .burgerBack {
        background: url("./../img/burger.png") no-repeat;
        background-size: 100% auto;
    }
ul {
    list-style-type: none;
}
li {
    list-style-type: disc;
    padding: 2px 0 2px 0;
}
    .container {
        width:400px;
        border: 2px solid black;
        margin: 0px auto 0px auto;
        text-align: left;
        background-color: lightgrey;
    }
    .change-devoured {
        float: right;
        margin-right: 30px;
    }
    .eaten {
        text-align: center;
        margin: 5px auto 5px -40px;

    }